*{
    box-sizing: border-box;
}

header {
    
    color: chartreuse;
    padding: 30px;
    text-align: center;
    background-color: rgb(18, 14, 39);
    border: 1px rgb(13, 219, 13);

}

nav {
    float: left;
    width: 20%;   
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: rgb(19, 12, 12);
    border: 1px chartreuse
    margin-top: 0%;
    padding: 0 20%;
}

nav ul li a{
    display: block;
    color: rgb(57, 170, 5);
    padding: 8px 16px;
    text-decoration: none;

}
nav ul li a :hover{
    background-color: rgb(29, 15, 110);
    color: rgb(13, 60, 189);
}

article{
    color: aliceblue;
    text-align: center;
    width: 80%;
    background-color: rgb(177, 2, 2);
    border: 1px solid rgb(225, 220, 245);
    padding: 0 20px;

}

picture{
    display: block;
    padding: 0 20px;
    width: 0mm;
}



footer {
    color: chartreuse;
    text-align: center;
    padding: 30px;
    text-align: center;
    background-color: rgb(24, 13, 75);
    border: 1px maroon;
}


